<div class="tr-breadcrumb text-center bg-image" style="background-image: url(../assets/breadcrumb-bg.jpg);">
            <div class="container">
                <div class="page-title">
                    <h1>Kontaktirajte nas</h1>
                </div>
            </div><!-- /.container -->
        </div><!-- /.tr-breadcrumb -->
        
        <div class="main-content bg-color">

            <div class="tr-contact">
                <div class="container">
                    <div class="form-content section-bg-white">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-info">
                                    <h3>Osnovne informacije</h3>
                                    <div class="media">
                                        <div class="icon mr-5">
                                            
                                        </div>
                                        <div class="media-body">
                                            <span>+ 123 45 678 901</span>
                                        </div>
                                    </div><!-- /.media -->

                                    <div class="media">
                                        <div class="icon mr-5">
                                            
                                        </div>
                                        <div class="media-body">
                                            <span><a href="#">info@myjuice.ba</a></span>
                                        </div>
                                    </div><!-- /.media -->

                                    <div class="tr-address">
                                        <span>Naša lokacija</span>
                                        <div class="media">
                                            <div class="icon mr-5">
                                                
                                            </div>
                                            <div class="media-body">
                                                <address>Sarajevo, BiH</address>
                                            </div>
                                        </div><!-- /.media -->
                                    </div>

                                </div><!-- /.contact-info -->
                            </div>
                            <div class="col-md-8 col-lg-7 offset-lg-1">
                                <div class="contact-form">
                                    <h3>Pošalji upit</h3>
                                    <form class="tr-form" name="contact-form" method="post" action="#">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group-addon"></div>
                                                    <input type="text" class="form-control" required="required" placeholder="Vaše ime">
                                                </div>                                         
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group-addon"></div>
                                                    <input type="email" class="form-control" required="required" placeholder="Vaš email">
                                                </div> 
                                            </div>  
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group-addon"></i></div>
                                                    <textarea name="message" class="form-control" required="required" rows="5" placeholder="Vaša poruka"></textarea>
                                                </div> 
                                                <input type="submit" class="btn btn-primary text-center" value="Pošalji poruku">
                                            </div>          
                                        </div><!-- /.row -->
                                    </form>                                      
                                </div><!-- /.contact-form -->                                
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.form-content -->
                </div><!-- /.container -->
            </div><!-- /.tr-contact -->
        </div><!-- /.main-content -->

       