

        <div id="home-carousel" class="carousel slide home-slider tr-banner" data-ride="carousel" style="background-image: url(../assets/slider1.jpg);">
            <div class="carousel-inner text-center" role="listbox">                
                <div class="carousel-item item active">
                    <div class="item-middle">
                        <div class="middle-content">
                            <div class="container">
                                <div class="banner-info">
                                    <h1 data-animation="animated fadeInDown">Dobro došli u My Juice smoothie</h1>
                                    <h2 data-animation="animated fadeInDown">Svježe voće i smoothie</h2>
                                    <a href="/pages/login"   data-animation="animated fadeInDown" class="btn btn-primary">Prijavi se</a>
                                </div>                        
                            </div><!-- /.container -->
                        </div><!-- /.middle-content -->
                    </div><!-- /.item-middle -->                   
                </div><!-- /.carousel-item -->  
            </div><!-- /.carousel-inner -->                  
        </div><!-- /#home-slider --> 

        <div class="tr-promotion">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="promotion" style="background-image: url(../assets/promotion3.png);">
                            <div class="promotion-info">
                                <h1>Svježe <span>Voće</span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="promotion" style="background-image: url(../assets/promotion2.png);">
                            <div class="promotion-info">
                                <h1>Organski <span>Sok</span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="promotion" style="background-image: url(../assets/promotion3.png);">
                            <div class="promotion-info">
                                <h1>Organsko <span>Voće</span></h1>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.tr-promotion --> 

        <div class="tr-farmfood farmfood-one bg-image"  style="background-image: url(../assets/farmfood.jpg);">
            <div class="container">
                <div class="section-title">
                    <h1>Posebna ponuda dana</h1>
                    <h2>Mi smo najbolji <strong>smoothie bar</strong></h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="farmfood farmfood-left text-right">
                            <ul class="global-list">
                                <li class="media">
                                    <div class="food-info media-body">
                                        <h3>100% <strong>Organski</strong></h3>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="food-info media-body">
                                        <h3>Premium <strong>Kvaliteta</strong></h3>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="food-info media-body">
                                        <h3>Organski <strong>Uzgoj</strong></h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 push-md-4">
                        <div class="farmfood farmfood-right">
                            <ul class="global-list">
                                <li class="media">
                                    <div class="food-info media-body">
                                        <h3>Svježe <strong>Voće</strong></h3>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="food-info media-body">
                                        <h3>Super <strong>za svaki dan</strong></h3>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="food-info media-body">
                                        <h3>Ultra <strong>zdravo</strong></h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 pull-md-4">
                        <div class="farmfood-image text-center">
                            <img src="../assets/farmfood.png" alt="Icon" class="img-fluid">
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.tr-farmfood --> 

        <div class="tr-products popup-one section-padding">
            <div class="container">
                <div class="section-title">
                    <h1>Pogledaje najbolje smoothie</h1>
                    <h2>Jedinstveni <strong>okusi</strong></h2>
                </div>
                <div class="product-slider">
                    <div class="products">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="product">
                                    <a href="shop-details.html">
                                        <span class="product-image">
                                            <img src="../assets/1.jpg" alt="Image" class="img-fluid">
                                        </span>
                                        <span class="product-title"><strong>Dr. WHO?</strong></span>
                                        <span class="price"><del>15 KM</del>12 KM</span>
                                    </a>
                                    <div class="product-icon">
                                        <ul class="global-list">
                                            <li><a href="/pages/store" class="btn btn-primary">Korpa</a></li>
                                            <li><a href="#" class="btn btn-primary">Slika</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.product -->                                 
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="product">
                                    <a href="shop-details.html">
                                        <span class="product-image">
                                            <img src="../assets/2.jpg" alt="Image" class="img-fluid">
                                        </span>
                                        <span class="product-title">Dark <strong>Magic</strong></span>
                                        <span class="price"><del>15 KM</del>12 KM</span>
                                    </a>
                                    <div class="product-icon">
                                        <ul class="global-list">
                                            <li><a href="/pages/store" class="btn btn-primary">Korpa</a></li>
                                            <li><a href="#" class="btn btn-primary">Slika</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.product -->                                 
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="product">
                                    <a href="shop-details.html">
                                        <span class="product-image">
                                            <img src="../assets/4.jpg" alt="Image" class="img-fluid">
                                        </span>
                                        <span class="product-title"><strong>Nutty</strong></span>
                                        <span class="price"><del>15 KM</del>12 KM</span>
                                    </a>
                                    <div class="product-icon">
                                        <ul class="global-list">
                                            <li><a href="/pages/store" class="btn btn-primary">Korpa</a></li>
                                            <li><a href="#" class="btn btn-primary">Slika</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.product -->                                 
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="product">
                                    <a href="shop-details.html">
                                        <span class="product-image">
                                            <img src="../assets/3.jpg" alt="Image" class="img-fluid">
                                        </span>
                                        <span class="product-title">Very <strong>Berry</strong></span>
                                        <span class="price"><del>15 KM</del>12 KM</span>
                                    </a>
                                    <div class="product-icon">
                                        <ul class="global-list">
                                            <li><a href="/pages/store" class="btn btn-primary">Korpa</a></li>
                                            <li><a href="/pages/store" class="btn btn-primary">Slika</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.product -->                                 
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="product">
                                    <a href="shop-details.html">
                                        <span class="product-image">
                                            <img src="../assets/5.jpg" alt="Image" class="img-fluid">
                                        </span>
                                        <span class="product-title"><strong>Antiage</strong></span>
                                        <span class="price"><del>15 KM</del>12 KM</span>
                                    </a>
                                    <div class="product-icon">
                                        <ul class="global-list">
                                            <li><a href="/pages/store" class="btn btn-primary">Korpa</a></li>
                                            <li><a href="#" class="btn btn-primary">Slika</a></li>
                                        </ul>
                                    </div>
                                </div><!-- /.product -->                                 
                            </div>
                        </div><!-- /.row -->                   
                    </div><!-- /.products -->
                </div>
            </div><!-- /.container -->
        </div><!-- /.section-padding -->

        <div class="tr-cta section-padding section-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cta-image">
                            <img src="../assets/cta-image.png" alt="Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cta-info">
                            <h1>Pogledajte cijelu ponudu</h1>
                            <h2>Sniženje 50%</h2>
                            <h3>za narudžbe preko 20 KM</h3>
                            <ul class="countdown global-list">
                                <li>                    
                                    <span class="days">00</span>
                                    <p>dana</p>
                                </li>
                                <li>
                                    <span class="hours">00</span>
                                    <p>sati</p>
                                </li>
                                <li>
                                    <span class="minutes">00</span>
                                    <p>minuta</p>
                                </li>
                                <li>
                                    <span class="seconds">00</span>
                                    <p>sekundi</p>
                                </li>               
                            </ul><!-- countdown -->                             
                            <a href="/pages/login" class="btn btn-primary"><span></span>Kupovina</a>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.tr-cta -->  

         


        

        

       