<div class="main-content bg-color">
            <div class="container">
                <div class="user-account text-center" style="background-image: url(../assets/account-bg.png);">
                    <div class="account-content">
                        <div class="logo">
                            <a href="index.html"><img class="img-fluid" src="../assets/logo.png" alt="Logo"></a>
                        </div>
                        <h1>Kreiraj račun</h1>
                        <form action="#" class="tr-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Korisničko ime" required="required">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="required">
                            </div> 
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="šifra" required="required">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Registruj se">
                            <div class="already-acount">
                                <a href="/pages/login">Već imate račun?</a>
                            </div>
                        </form>                    
                    </div><!-- /.account-content -->                       
                </div><!-- /.user-account  -->                  
            </div><!-- /.container -->         
        </div><!-- /.main-content -->
